<!doctype html>
<title>Cardiovascular Risk Analysis</title>
<style>
* {
  box-sizing: border-box; 
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  background: #ADBABD
}
#main {
  display: flex;
  flex: 1;
}
#main > article {
  flex: 1;
}
#main > nav, 
#main > aside {
  flex: 0 0 30vw;
  background: #575D90;
}
#main > nav {
  order: -1;
}
header, footer {
  background: #91B7C7;
  height: 10vh;
}
header, footer, article, nav, aside {
  padding: 1em;
}
</style>
<body>
  <header><h3>Enter Patient Information</h3></header>
  <div id="main">
    <article>Article</article>
    <nav>Nav</nav>
    <aside>Aside</aside>
  </div>
  <footer>Footer</footer>
</body>
  <header>Header</header>
  <div id="main">
    <article>Article</article>
    <nav>Nav</nav>
    <aside>Aside</aside>
  </div>
  <footer>Footer</footer>
</body>
