# ----------------------
# Flask
# ----------------------
Flask==2.2.2

# ----------------------
# Dash
# ----------------------
dash>=2.5.1

# ----------------------
# Testing
# ----------------------
pytest==7.1.2

# ----------------------
# Production Server
# ----------------------
gunicorn==20.1.0

# ----------------------
# Machine Learning Tools
# ----------------------
pandas
sklearn
plotly
matplotlib

colorama
